@import url('https://fonts.googleapis.com/css?family=Turret+Road:300,400,500&display=swap');

body {
  text-align: center;
  background :#479eeb;
  font-family: 'Turret Road', cursive;
}

#container {
  margin: 20px auto;
  padding: 20px;
}

#counterlabel {
  color: black;
  padding: 10px;
  margin: 10px 0px;
  font-size: 12px;
  position: absolute;
  bottom: 70px;
  left: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.125);
}

#counterbox {
  background: none;
  border: solid white;
  color: white;
  padding: 10px;
  margin: 10px 64px;
  font-size: 25px;
  position: absolute;
  bottom: 25px;
  left: 60%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  font-weight: bold
}


#timer {
  width: 75vmin;
  height: 75vmin;
  box-shadow: 0 0 0 1.875vmin, inset 3.75vmin 3.75vmin 7.5vmin rgba(0, 0, 0, 0.125), 3.75vmin 3.75vmin 7.5vmin rgba(0, 0, 0, 0.125);
  font-size: 17vmin;
  text-shadow: 3.75vmin 3.75vmin 7.5vmin rgba(0, 0, 0, 0.125);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  border-radius: 50%;
  font-weight: 700;
}
@media (min-width: 300px) {
  #timer {
    width: 50vmin;
    height: 50vmin;
    box-shadow: 0 0 0 1.25vmin, inset 2.5vmin 2.5vmin 5vmin rgba(0, 0, 0, 0.125), 2.5vmin 2.5vmin 5vmin rgba(0, 0, 0, 0.125);
    font-size: 10vmin;
    text-shadow: 2.5vmin 2.5vmin 5vmin rgba(0, 0, 0, 0.125);
  }
}

#filler {
  background: rgba(255, 255, 255, 0.125);
  height: 0px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

button {
  background: #40a863;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  width: 95px;
  margin: 10px;
  align-content: center;
  font-size: 25px;
  height: 50px;
  border-radius: 50px;
  font-family: 'Turret Road', cursive;
}

button:disabled {
  cursor: not-allowed;
  opacity: .5;
  font-family: 'Turret Road', cursive;
}

.break {
  background: rgb(247, 245, 139);
  color: black;
  width: 130px;
  font-family: 'Turret Road', cursive;
}

.longBreak {
  background: rgb(236, 108, 3);
  color: black;
  width: 210px;
  font-family: 'Turret Road', cursive;
}

.reset {
  background: white;
  color: black;
  width: 110px;
  font-family: 'Turret Road', cursive;
}

.counter {
  background: rgb(231, 115, 6);
  color: white;
  font-family: 'Turret Road', cursive;
}

.synchro {
  background: white;
  color: black;
  width: 110px;
  font-family: 'Turret Road', cursive;
  position: absolute;
  bottom: 90px;
  right: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.retro {
  background: white;
  color: black;
  width: 110px;
  font-family: 'Turret Road', cursive;
  position: absolute;
  bottom: 30px;
  right: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
